body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1910px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1910px;
}
#u930 {
  position:absolute;
  left:2px;
  top:947px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(92, 173, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u933 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u934 {
  position:absolute;
  left:100px;
  top:0px;
  width:235px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u935 {
  position:absolute;
  left:0px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u936 {
  position:absolute;
  left:345px;
  top:17px;
  width:34px;
  height:27px;
}
#u937 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:387px;
  top:20px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u940 {
  position:absolute;
  left:420px;
  top:26px;
  width:20px;
  height:11px;
}
#u941 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:450px;
  top:10px;
  width:300px;
  height:40px;
}
#u942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:750px;
  top:10px;
  width:85px;
  height:40px;
}
#u945 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u946 {
  position:absolute;
  left:764px;
  top:20px;
  width:20px;
  height:20px;
}
#u947 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:790px;
  top:19px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:957px;
  top:19px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 173, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u953 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u954 {
  position:absolute;
  left:100px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u954_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u954.mouseOver {
}
#u954_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u954.selected {
}
#u955 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u956 {
  position:absolute;
  left:167px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u956_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u956.mouseOver {
}
#u956_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u956.selected {
}
#u957 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u958 {
  position:absolute;
  left:234px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u958_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u958.mouseOver {
}
#u958_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u958.selected {
}
#u959 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u960 {
  position:absolute;
  left:301px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u960_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u960.mouseOver {
}
#u960_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u960.selected {
}
#u961 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u962 {
  position:absolute;
  left:368px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u962_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u962.mouseOver {
}
#u962_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u962.selected {
}
#u963 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u964 {
  position:absolute;
  left:435px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u964_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u964.mouseOver {
}
#u964_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u964.selected {
}
#u965 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u966 {
  position:absolute;
  left:502px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u966_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u966.mouseOver {
}
#u966_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u966.selected {
}
#u967 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u968 {
  position:absolute;
  left:569px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u968_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u968.mouseOver {
}
#u968_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u968.selected {
}
#u969 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u970 {
  position:absolute;
  left:740px;
  top:440px;
  width:360px;
  height:133px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u971 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:330px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u972 {
  position:absolute;
  left:100px;
  top:100px;
  width:1000px;
  height:330px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u973 {
  position:absolute;
  left:0px;
  top:155px;
  width:1000px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u974 {
  position:absolute;
  left:740px;
  top:573px;
  width:360px;
  height:697px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u975 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u976 {
  position:absolute;
  left:760px;
  top:650px;
  width:320px;
  height:90px;
  color:#999999;
  text-align:left;
}
#u977 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:1000px;
  top:593px;
  width:80px;
  height:40px;
}
#u979 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u980 {
  position:absolute;
  left:764px;
  top:760px;
  width:50px;
  height:50px;
}
#u981 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u982 {
  position:absolute;
  left:824px;
  top:761px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:824px;
  top:790px;
  width:183px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u986 {
  position:absolute;
  left:1057px;
  top:761px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u988 {
  position:absolute;
  left:764px;
  top:850px;
  width:316px;
  height:1px;
  color:#CCCCCC;
}
#u989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u990 {
  position:absolute;
  left:1051px;
  top:818px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u992 {
  position:absolute;
  left:824px;
  top:818px;
  width:93px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u994 {
  position:absolute;
  left:764px;
  top:876px;
  width:50px;
  height:50px;
}
#u995 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u996 {
  position:absolute;
  left:824px;
  top:877px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u998 {
  position:absolute;
  left:824px;
  top:906px;
  width:183px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  position:absolute;
  left:1057px;
  top:877px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1002 {
  position:absolute;
  left:764px;
  top:966px;
  width:316px;
  height:1px;
  color:#CCCCCC;
}
#u1003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1004 {
  position:absolute;
  left:1051px;
  top:934px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1006 {
  position:absolute;
  left:824px;
  top:934px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1008 {
  position:absolute;
  left:764px;
  top:989px;
  width:50px;
  height:50px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1010 {
  position:absolute;
  left:824px;
  top:990px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1012 {
  position:absolute;
  left:824px;
  top:1019px;
  width:183px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1014 {
  position:absolute;
  left:1057px;
  top:990px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1016 {
  position:absolute;
  left:764px;
  top:1199px;
  width:316px;
  height:1px;
  color:#CCCCCC;
}
#u1017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1018 {
  position:absolute;
  left:1051px;
  top:1169px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1020 {
  position:absolute;
  left:824px;
  top:1169px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:107px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:824px;
  top:1020px;
  width:256px;
  height:107px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:46px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1024 {
  position:absolute;
  left:840px;
  top:1031px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1026 {
  position:absolute;
  left:840px;
  top:1060px;
  width:225px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:824px;
  top:1137px;
  width:225px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1030 {
  position:absolute;
  left:883px;
  top:1031px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1032 {
  position:absolute;
  left:100px;
  top:440px;
  width:630px;
  height:133px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:30px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:1247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1034 {
  position:absolute;
  left:100px;
  top:573px;
  width:630px;
  height:1247px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:30px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u1036 {
  position:absolute;
  left:120px;
  top:440px;
  width:360px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1038 {
  position:absolute;
  left:615px;
  top:440px;
  width:115px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
}
#u1040 {
  position:absolute;
  left:698px;
  top:466px;
  width:23px;
  height:13px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1151px;
}
#u1042 {
  position:absolute;
  left:120px;
  top:600px;
  width:1px;
  height:1150px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:567px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:330px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u1044 {
  position:absolute;
  left:131px;
  top:797px;
  width:569px;
  height:330px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:155px;
  width:569px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1046 {
  position:absolute;
  left:109px;
  top:630px;
  width:23px;
  height:23px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1048 {
  position:absolute;
  left:108px;
  top:727px;
  width:23px;
  height:23px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1050 {
  position:absolute;
  left:142px;
  top:630px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1052 {
  position:absolute;
  left:131px;
  top:670px;
  width:561px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1054 {
  position:absolute;
  left:131px;
  top:761px;
  width:561px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1056 {
  position:absolute;
  left:141px;
  top:727px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u1058 {
  position:absolute;
  left:131px;
  top:716px;
  width:589px;
  height:1px;
  color:#CCCCCC;
}
#u1059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u1060 {
  position:absolute;
  left:131px;
  top:1156px;
  width:589px;
  height:1px;
  color:#CCCCCC;
}
#u1061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:330px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u1062 {
  position:absolute;
  left:131px;
  top:1250px;
  width:569px;
  height:330px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:155px;
  width:569px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1064 {
  position:absolute;
  left:108px;
  top:1180px;
  width:23px;
  height:23px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:131px;
  top:1214px;
  width:561px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1068 {
  position:absolute;
  left:141px;
  top:1180px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u1070 {
  position:absolute;
  left:131px;
  top:1609px;
  width:589px;
  height:1px;
  color:#CCCCCC;
}
#u1071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1072 {
  position:absolute;
  left:142px;
  top:583px;
  width:145px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1074 {
  position:absolute;
  left:109px;
  top:588px;
  width:23px;
  height:23px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:83px;
}
#u1076 {
  position:absolute;
  left:120px;
  top:490px;
  width:90px;
  height:83px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1078 {
  position:absolute;
  left:220px;
  top:515px;
  width:145px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u1079 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
