body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3843 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1200px;
  height:2653px;
}
#u3844 {
  position:absolute;
  left:2px;
  top:1318px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3846 {
  position:absolute;
  left:100px;
  top:100px;
  width:1000px;
  height:50px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
}
#u3848 {
  position:absolute;
  left:137px;
  top:100px;
  width:65px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
}
#u3848_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
}
#u3848.mouseOver {
}
#u3849 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
}
#u3850 {
  position:absolute;
  left:211px;
  top:100px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
}
#u3850_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
}
#u3850.mouseOver {
}
#u3851 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3852 {
  position:absolute;
  left:116px;
  top:113px;
  width:21px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3853 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
}
#u3854 {
  position:absolute;
  left:202px;
  top:116px;
  width:8px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
}
#u3855 {
  position:absolute;
  left:2px;
  top:1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3856 {
  position:absolute;
  left:100px;
  top:182px;
  width:230px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u3858 {
  position:absolute;
  left:360px;
  top:190px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u3858_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u3858.selected {
}
#u3859 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3860 {
  position:absolute;
  left:360px;
  top:230px;
  width:740px;
  height:530px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:257px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3863 {
  position:absolute;
  left:600px;
  top:394px;
  width:72px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3866 {
  position:absolute;
  left:690px;
  top:394px;
  width:73px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3867 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u3868 {
  position:absolute;
  left:665px;
  top:397px;
}
#u3868_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3868_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3869 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3871 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3872 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3868_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3875 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3868_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3877 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3879 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3882 {
  position:absolute;
  left:788px;
  top:395px;
  width:73px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3883 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u3884 {
  position:absolute;
  left:763px;
  top:398px;
}
#u3884_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3884_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3887 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3884_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3891 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3884_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3895 {
  position:absolute;
  left:4px;
  top:4px;
  width:10px;
  height:10px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3898 {
  position:absolute;
  left:600px;
  top:288px;
  width:61px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3901 {
  position:absolute;
  left:661px;
  top:288px;
  width:217px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3901_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3901.selected {
}
#u3902 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3904 {
  position:absolute;
  left:600px;
  top:338px;
  width:49px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3907 {
  position:absolute;
  left:661px;
  top:338px;
  width:245px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3907_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u3907.selected {
}
#u3908 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u3909 {
  position:absolute;
  left:400px;
  top:288px;
  width:120px;
  height:120px;
  font-family:'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  position:absolute;
  left:446px;
  top:418px;
  width:29px;
  height:16px;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u3914 {
  position:absolute;
  left:620px;
  top:490px;
  width:71px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u3914_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u3914.mouseOver {
  opacity:0.8;
}
#u3914_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u3914.mouseDown {
  opacity:1;
}
#u3915 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(92, 173, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3919 {
  position:absolute;
  left:100px;
  top:0px;
  width:235px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3920 {
  position:absolute;
  left:0px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u3922 {
  position:absolute;
  left:345px;
  top:17px;
  width:34px;
  height:27px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3924 {
  position:absolute;
  left:387px;
  top:20px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u3926 {
  position:absolute;
  left:420px;
  top:26px;
  width:20px;
  height:11px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928 {
  position:absolute;
  left:450px;
  top:10px;
  width:300px;
  height:40px;
}
#u3928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3930 {
  position:absolute;
  left:750px;
  top:10px;
  width:85px;
  height:40px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3932 {
  position:absolute;
  left:764px;
  top:20px;
  width:20px;
  height:20px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3934 {
  position:absolute;
  left:790px;
  top:19px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3936 {
  position:absolute;
  left:983px;
  top:19px;
  width:116px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 173, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3938 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3940 {
  position:absolute;
  left:100px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3940_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3940.mouseOver {
}
#u3940_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3940.selected {
}
#u3941 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3942 {
  position:absolute;
  left:167px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3942_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3942.mouseOver {
}
#u3942_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3942.selected {
}
#u3943 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3944 {
  position:absolute;
  left:234px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3944_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3944.mouseOver {
}
#u3944_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3944.selected {
}
#u3945 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3946 {
  position:absolute;
  left:301px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3946_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3946.mouseOver {
}
#u3946_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3946.selected {
}
#u3947 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3948 {
  position:absolute;
  left:368px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3948.mouseOver {
}
#u3948_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3948.selected {
}
#u3949 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3950 {
  position:absolute;
  left:435px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3950.mouseOver {
}
#u3950_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3950.selected {
}
#u3951 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3952 {
  position:absolute;
  left:502px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3952_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3952.mouseOver {
}
#u3952_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3952.selected {
}
#u3953 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3954 {
  position:absolute;
  left:569px;
  top:60px;
  width:67px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3954_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3954.mouseOver {
}
#u3954_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3954.selected {
}
#u3955 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957 {
  position:absolute;
  left:345px;
  top:60px;
  width:140px;
  height:225px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:104px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:345px;
  top:60px;
  width:140px;
  height:45px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3961 {
  position:absolute;
  left:345px;
  top:105px;
  width:140px;
  height:45px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:345px;
  top:150px;
  width:140px;
  height:45px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:345px;
  top:195px;
  width:140px;
  height:45px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:345px;
  top:240px;
  width:140px;
  height:45px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3969 {
  position:absolute;
  left:900px;
  top:19px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:283px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3972 {
  position:absolute;
  left:100px;
  top:237px;
  width:230px;
  height:283px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3973 {
  position:absolute;
  left:2px;
  top:134px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3974 {
  position:absolute;
  left:114px;
  top:296px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3974_img.mouseOver {
}
#u3974.mouseOver {
}
#u3974_img.selected {
}
#u3974.selected {
}
#u3975 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3976 {
  position:absolute;
  left:114px;
  top:416px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3976_img.mouseOver {
}
#u3976.mouseOver {
}
#u3976_img.selected {
}
#u3976.selected {
}
#u3977 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3978 {
  position:absolute;
  left:114px;
  top:456px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3978_img.mouseOver {
}
#u3978.mouseOver {
}
#u3978_img.selected {
}
#u3978.selected {
}
#u3979 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3980 {
  position:absolute;
  left:114px;
  top:336px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3980_img.mouseOver {
}
#u3980.mouseOver {
}
#u3980_img.selected {
}
#u3980.selected {
}
#u3981 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3982 {
  position:absolute;
  left:114px;
  top:256px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3982_img.mouseOver {
}
#u3982.mouseOver {
}
#u3982_img.selected {
}
#u3982.selected {
}
#u3983 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u3984 {
  position:absolute;
  left:114px;
  top:376px;
  width:202px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3984_img.mouseOver {
}
#u3984.mouseOver {
}
#u3984_img.selected {
}
#u3984.selected {
}
#u3985 {
  position:absolute;
  left:20px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
