body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u2315 {
  position:absolute;
  left:24px;
  top:23px;
  width:29px;
  height:28px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2317 {
  position:absolute;
  left:25px;
  top:54px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u2319 {
  position:absolute;
  left:138px;
  top:23px;
  width:29px;
  height:28px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2321 {
  position:absolute;
  left:127px;
  top:54px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2323_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:70px;
  height:25px;
}
#u2323 {
  position:absolute;
  left:63px;
  top:46px;
  width:58px;
  height:5px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:-6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
